@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;

@{
ViewBag.Title = "Carfel - Cadastro de Comentarios";
Layout = "MasterPagePrincipal";
}

<h1>Area dos Comentários</h1>


<form method="POST" action="/Comentario/Cadastrar">
       <!-- <textarea>//usuario</textarea> -->
</form>

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Data de nascimento</td>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
            {
            <tr>
                <td>
                    @usuario.Nome
                </td>
                <td>
                    @usuario.Email
                </td>
            </tr>
            }
    </tbody>
</table>




<form action="/Comentario/Cadastrar" method="POST">
    <label>Fazer um novo comentario
        <input type="text" name="depoimento" required>
    </label>

    <input type="submit" value="Enviar">
</form>



@ViewBag.Mensagem




<h3>Listagem de usuários</h3>

@TempData["Mensagem"]

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Data de nascimento</td>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
            {
            <tr>
                <td>
                    @usuario.Nome
                </td>
                <td>
                    @usuario.Email
                </td>
                <td>
                    <a href="/Usuario/Excluir?id=@usuario.Id">Excluir</a>
                    <a href="/Usuario/Editar?id=@usuario.Id">Editar</a>
                </td>
            </tr>
            }
    </tbody>
</table>

@* @UsuarioModel razor *@

<select>
    @foreach (UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
        {
        <option>
            @usuario.Nome
        </option>
        }
</select>