@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@section styles{
<link rel="stylesheet" href="/CSS/style-form.css">
<link rel="stylesheet" href="/CSS/comentario.css">
<script src="/JS/number.js"></script>
}

@{
    ViewBag.Title = "Carfel -- Area do Administrador";
}

<div class="table-title">
<h3>Area do Administrador</h3>

<form method="POST" action="/Usuario/Administrador">


<table class="table-fill" style="margin: 10% 0% 20% -10%;">
    <thead>
        <tr class="ttr">
            <th class="tth">Id</th>
            <th class="tth">Nome</th>
            <th class="tth">Descrição</th>
            <th class="tth">Data de Criação</th>
            <th class="tth">Aprovar</th>
            <th class="tth">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr class="ttr">
                <td class="text-left">
                    @item.Id
                </td>
                <td class="text-left">
                    @item.NomeUsuario
                </td>
                <td class="text-left">
                    @item.Descricao
                </td>
                <td class="text-left">
                    @item.DataCriacao.ToShortDateString()
                </td>
                <td class="text-left">
                    <a href="/Comentario/Excluir?id=@item.Id" class="formul botaozinho ">Excluir</a>
                </td>
                <td class="text-left">
                    <a href="/Comentario/Aprovar?id=@item.Id" class="formul botaozinho ">Aprovar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>



@ViewBag.Mensagem