@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@{
    ViewBag.Title = "Carfel -- Area do Administrador";
}

<h1>Area do Administrador</h1>

<form method="POST" action="/Usuario/Administrador">



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Criação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.NomeUsuario
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.DataCriacao.ToShortDateString()
                </td>
                <td>
                    <a href="/Comentario/Excluir?id=@item.Id">Excluir</a>
                    <a href="/Comentario/Aprovar?id=@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@ViewBag.Mensagem