@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;

@if(@ViewBag.UsuarioLogado == null){
    Layout = "MasterPageDeslogado";
    } else {
    if (@ViewBag.AdminBool == true)
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
    }
}

@{
    ViewBag.Title = "Carfel -- Area do Administrador";
    Layout = "MasterPagePrincipal";
}

<h1>Area do Administrador</h1>

<form method="POST" action="/Usuario/Administrador">

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
        {
            <tr>
                <td>
                    @usuario.Nome
                </td>
                <td>
                    @usuario.Email
                </td>
                <td>
                    <a href="/Usuario/Excluir?id=@usuario.Id">Excluir</a>
                    <a href="/Usuario/Editar?id=@usuario.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- @* @UsuarioModel razor  *@ -->

<select>
    @foreach (UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
    {
        <option>
            @usuario.Nome
        </option>
    }
</select>



@ViewBag.Mensagem